# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cpp text
*.hpp text
*.cmake 
*.md
*.js 
*.c
*.h
*.inl

# Declare files that will always have LF line endings on checkout.
*.sln text eol=lf
